html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    color: white;
    background: url("./nightsky.jpg") no-repeat;
    background-size: cover
}

.search{
    text-align: center;
    padding: 30px;
}

.search input, .search button{
    margin: 20px;
}


.content-list{
    background:transparent;
　color:#FFFFFF;
　background-color:rgba(255,255,255,0.15)
}
.content-list a{
    color: #FFFFFF;
    font-size: 30px;
}





