
<!--<div class="fixed-top fix-header grey-header">-->
    <!--<a href="widget-list.html"><span class="glyphicon glyphicon-chevron-left icon-left blackicon"></span></a>-->
    <!--<h2>Widget Edit</h2>-->
    <!--<a href="widget-list.html"><span class="glyphicon glyphicon-ok icon-right blackicon"></span></a>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<form class="form-horizontal form-titled">-->
        <!--<h5>Name</h5>-->
        <!--<input type="text" class="form-control input-block" placeholder="Name">-->
        <!--<h5>Text</h5>-->
        <!--<input type="text" class="form-control input-block" placeholder="Text" value="US Senate Reaches Compromise">-->
        <!--<h5>Size</h5>-->
        <!--<input type="text" class="form-control input-block" placeholder="Size" value="3">-->
        <!--<a class="btn btn-danger btn-block" href="widget-list.html" role="button">Delete</a>-->
    <!--</form>-->
<!--</div>-->

<!--<div class="navbar-fixed-bottom fix-header grey-header">-->
    <!--<a href="profile.html"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>-->
<!--</div>-->

<div class="widget-block">
    <div class="gadget">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog blueicon"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div ng-switch="widget.size">
        <h1 ng-switch-when="1">{{widget.text}}</h1>
        <h2 ng-switch-when="2">{{widget.text}}</h2>
        <h3 ng-switch-when="3">{{widget.text}}</h3>
        <h4 ng-switch-when="4">{{widget.text}}</h4>

    </div>
</div>