
<div class="fixed-top fix-header grey-header">
    <a href="#!user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        <span class="glyphicon glyphicon-chevron-left icon-left blackicon"></span>
    </a>
    <h2>Choose Widget</h2>
</div>

<div class="container-fluid">
    <ul class="list-group white-list">
        <li class="list-group-item item-row">
            <a href="" ng-click="model.newHeadingWidget()"><h3>HEADING</h3></a>
        </li>
        <li class="list-group-item item-row">
             <a href="" ng-click="model.newImageWidget()"><h3>IMAGE</h3></a>
        </li>
        <li class="list-group-item item-row">
             <a href="" ng-click="model.newYoutubeWidget()"><h3>YOUTUBE</h3></a>
        </li>
        <li class="list-group-item item-row">
            <a href="" ng-click="model.newHtmlWidget()"><h3>HTML</h3></a>
        </li>
        <li class="list-group-item item-row item-row-last">
            <a href="" ng-click="model.newInputWidget()"><h3>TEXT INPUT</h3></a>
        </li>

    </ul>
</div>
</div>

<div class="navbar-fixed-bottom fix-header grey-header">
    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>
</div>
