
<div class="container full-height">
    <form class="form-titled form-horizontal">
        Text
        <input ng-model="model.thiswidget.text" class="form-control"/>
        Rows
        <input ng-model="model.thiswidget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.thiswidget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.thiswidget.formatted" type="checkbox"/>
        <a class="btn btn-danger btn-block"
           href=""
           role="button"
           ng-click="model.deleteWidget()">Delete</a>

    </form>
</div>