
<div class="container full-height">
    <form class="form-titled form-horizontal">
        <h5>Id</h5>
        <input type="text" class="form-control input-block"
               ng-model="model.thiswidget._id"
               readonly/>
        <h5>Type</h5>
        <input type="text" class="form-control input-block"
               ng-model="model.thiswidget.type"
               readonly/>
        <h5>Size</h5>
        <input type="text" class="form-control input-block"
               placeholder="size"
               ng-model="model.thiswidget.size"
        />

        <h5>Text</h5>
        <textarea rows="5"
                  class="form-control input-block"
                  placeholder="text"
                  ng-model="model.thiswidget.text">
            </textarea>
        <a class="btn btn-danger btn-block"
           href=""
           role="button"
           ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>