<div class="container full-height">
    <form class="form-titled form-horizontal">
        <h5>Id</h5>
        <input type="text" class="form-control input-block"
               ng-model="model.thiswidget._id"
               readonly/>
        <h5>Type</h5>
        <input type="text" class="form-control input-block"
               ng-model="model.thiswidget.type"
               readonly/>
        <h5>Width</h5>
        <input type="text" class="form-control input-block"
               placeholder="Width"
               ng-model="model.thiswidget.width"
        />

        <h5>Url</h5>
        <input  type="text"
                class="form-control input-block"
                placeholder="text"
                ng-model="model.thiswidget.url">
        </input>
        <a class="btn btn-danger btn-block"
           href=""
           role="button"
           ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>