
<div class="container">
    <div class="mainhead">
        <h1>Register</h1>
    </div>
    <form class="form-horizontal">
        <input type="text"
               class="form-control input-block"
               placeholder="username"
               ng-model="model.user.username">
        <input type="password"
               class="form-control input-block"
               placeholder="password"
               ng-model="model.user.password">
        <input type="password"
               class="form-control input-block"
               placeholder="verify password"
               ng-model="model.verifypassword">
        <a class="btn btn-primary btn-block"
           role="button"
           ng-click="model.register(model.user)">
            Register
        </a>
        <a class="btn btn-danger btn-block" href="#!/login" role="button">Cancel</a>
        <div ng-show="model.errorMessage" class="alert alert-danger">
            <h3 class="error-title">{{model.errorMessage}}</h3>
        </div>
    </form>
</div>
