<div class="visible-lg visible-md visible-sm" ng-include="'views/templates/footer-explore.html'"></div>
<div class="visible-xs" ng-include="'views/templates/footer-explore-mobile.html'"></div>
<div ng-include="'views/templates/header.html'"></div>


<div class="main-wrap">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="myslide-label" for="slide-sidebar"><span class="glyphicon glyphicon-align-justify"></span></label>
    <div class="mysidebar">
        <h5>My Account</h5>
        People
        <div class="people">
            <ul class="list-group">
                <li class="list-group-item">
                    Musicians
                </li >
                <li class="ng-binding list-group-item">
                    Followers
                </li>
            </ul>
        </div>
        Playlists
        <div class="playlists content mCustomScrollbar">
            <ul class="list-group">
                <li class="list-group-item">
                    playlist1
                </li >
                <li class="list-group-item">
                    playlist2
                </li >
            </ul>
        </div>
    </div>
    <div class="portfolio">
        <div ng-include="'views/templates/search.html'"></div>
    </div>
</div>


</div>

