<div class="visible-xs" ng-include="'views/templates/footer-explore-mobile.html'"></div>
<nav class="user navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">Musician</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/home">Home</a></li>
                <!--<li><a href="#!/play">PLAY</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user"></span> {{model.user.username}}</a></li>
                <li><a href="#!/"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="user-home container-fluid ">
    <div class="col-xs-12 col-sm-6"
         ng-include="'views/templates/new-songs.html'"></div>
    <div class="col-xs-12 col-sm-6"
         ng-include="'views/templates/new-reviews.html'"></div>
</div>