<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">Musiker</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#!/play">PLAY</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1>Followings</h1>
    <ul class="list-group item-row">
        Following username:
        <li ng-repeat="following in model.followings" class="list-group-item content-list">
             <a href="">{{following.username}}</h5></a>
            <!--<a href="">-->
                <!--<span class="glyphicon glyphicon-cog icon-right"></span>-->
            <!--</a>-->
        </li>
    </ul>

    <h1>Followers</h1>
    <ul class="list-group item-row">
        Follower username:
        <li ng-repeat="follower in model.followers" class="list-group-item content-list">
            <a href="">{{follower.username}}</h5></a>
            <!--<a href="">-->
                <!--<span class="glyphicon glyphicon-cog icon-right"></span>-->
            <!--</a>-->
        </li>
    </ul>
    <div class="searchbar">
        <input placeholder="type username"
               ng-model = "model.searchContent"
               class="form-control"/>
        <button ng-click="model.searchUser(model.searchContent)" class="btn btn-primary btn-block">
            Search User
        </button>
    </div>
    <div ng-show="model.searchresult">
        <h2>username: </h2>{{model.searchresult.username}}
        <h2>first name: </h2>{{model.searchresult.firstName}}
        <h2>last name: </h2>{{model.searchresult.lastName}}
        <button ng-click="model.followUser()" class="btn btn-info btn-block">
            Follow
        </button>
    </div>


</div>