<div class="container-fluid">
    <h2>Musicians</h2>
    <ul class="list-group list-div active">
        <li ng-repeat="musician in model.followingMusicians" class="list-group-item">
            <div class="row" ng-show="musician">
                <div class="song-info-div">
                    <div>
                        <label class="explore-label">Name:</label>
                        <span></span>
                        <a class="song-name">{{musician.username}}</a></div>
                </div>
            </div>
        </li>
    </ul>
</div>