<nav class=" footer-explore navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#!/">Musiker</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav play-btn">
                <li><a href=""><span class="glyphicon glyphicon-step-backward"></span></a></li>
                <li><a href=""><span class="glyphicon glyphicon-play-circle"></span></a></li>
                <li><a href=""><span class="glyphicon glyphicon-pause"></span></a></li>
                <li><a href=""><span class="glyphicon glyphicon-step-forward"></span></a></li>
           </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a class="explore-btn btn btn-success" href="" role="button">Explore</a></li>
            </ul>

        </div>
    </div>
</nav>
