<div class="container-fluid">
    <h2>Songs</h2>
    <ul ng-show="model.favourite === 'dontlike'" class="list-group list-div active">
        <li ng-repeat="song in model.songs" class="list-group-item">
            <div class="row">
                <div class="song-info-div">
                    <div>
                        <label class="explore-label">Name:</label><span></span>
                        <a href="#!/song/{{song._id}}"
                           class="song-name">{{song.name}}</a>
                    </div>
                        <label class="explore-label">Artist:</label>
                        {{song._creator.username}}
                    </div>
                </div>

                <div class="song-artist-photo-div">
                    <a class="btn glyphicon glyphicon-plus"
                       role="button"
                       ng-click="model.favouriteSong(song)"></a>
                    <img class="song-artist-photo btn-default" ng-src="https://static1.squarespace.com/static/5391fac1e4b07b6926545c34/t/54b948f4e4b0567044b6c023/1421428991081/">
                </div>

            </div>
        </li>
    </ul>
    <div ng-show="model.favourite === 'like'" ng-include src="'views/templates/favourite-song.html'"></div>
</div>