<div class="new-reviews container-fluid">
    <h2>Reviews</h2>
    <ul  class="list-group list-div active">
        <li ng-repeat="song in model.songs" class="list-group-item">
            <div class="row">
                <div>
                    <div><label>Name:</label><a>{{song.name}}</a></div>
                    <div><label>Artist:</label>{{song._creator.username}}</div>
                </div>
                <div class="song-artist-photo-div">
                    <img class="song-artist-photo"
                         src="https://static1.squarespace.com/static/5391fac1e4b07b6926545c34/t/54b948f4e4b0567044b6c023/1421428991081/">
                </div>
            </div>
        </li>
    </ul>
</div>