<div class="visible-xs" ng-include="'views/templates/footer-explore-mobile.html'"></div>
<nav class="user navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">Musician</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <!--<li><a href="#!/play">PLAY</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user"></span> {{model.user.username}}</a></li>
                <li><a href="#!/"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="song-detail-div container-fluid">
    <div ng-show="model.favourite === 'no'" class="song-detail-header-div">
        <div class="song-detail-header-img-div">
            <img class="song-artist-photo-large" ng-src="https://static1.squarespace.com/static/5391fac1e4b07b6926545c34/t/54b948f4e4b0567044b6c023/1421428991081/">
        </div>
        <div class="song-detail-header-description-div">
            <div>
                <label class="song-detail-label">Song Name:</label><span></span>
                <span>{{model.song.name}}</span>
            </div>
            <div>
                <label class="song-detail-label">Artist:</label><span></span>
                <span>{{model.song._creator.username}}</span>
            </div>
        </div>
        <div class="song-detail-header-control-div">
            <div ng-show="model.user.type === 'CRITIC'">
                <a ng-click="model.reviewSong(song)"><span class="glyphicons glyphicons-pencil"></span></a>
            </div>
            <div ng-show="model.user._id === model.song._creator._id">
                <a ng-click="model.addSong()"><span class="btn glyphicon glyphicon-cog"></span></a>
            </div>
            <div ng-show="model.user.type === 'GENERAL'">
                <a ng-click="model.favouriteSong('yes')"><span class="btn glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
    <div ng-show="model.favourite === 'yes'" ng-include src="'views/templates/favourite-song.html'"></div>
</div>